.tab-btn {
    background-color: #f3f3f3;
    border: 1px solid #d5d5d5;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 500;
    transition: background 0.3s;
    color: black;
    white-space: nowrap;
    height: 45px;
}

.tab-btn:hover {
    background-color: rgb(231, 231, 231);
}

.tab-btn.active {
    background-color: #007bff;
    color: white;
}

.btn-admin-tab {
    width: 100px;
}