.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #242424;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

.error-page h1 {
    font-size: 5rem;
    margin: 0;
}

.error-page p {
    font-size: 1.5rem;
    margin-top: 3rem;
    color: #fff;
}

.error-message {
    margin-top: 2rem;
    font-size: 1rem;
    opacity: 0.8;
}