.type-chip {
    padding: 0.25rem 0.6rem;
    font-size: 0.75rem;
    font-weight: 500;
    width: min-content;
    border-radius: 999px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: .5rem 0;
}

.home {
    background-color: #e3f2fd;
    color: #1e88e5;
}

.work {
    background-color: #e8f5e9;
    color: #43a047;
}

.other {
    background-color: #f3e5f5;
    color: #8e24aa;
}